.myPosts h3 {
    text-align: center;
}

.myPosts .sub-main {
    width: 30%;
    margin: 22px;
    float: left;
}

.myPosts .button {
    margin: 5px 10px 30px 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    background-image: linear-gradient(to right bottom, #904246, #6b3239, #47242a, #26161a, #000000);
    border: none;
    padding: 10px;
    width: 100px;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    outline: none;
}

.myPosts .button:hover {
    background: #fff;
    box-shadow: 0 2px 10px 5px #97B1BF;
    color: black;
    text-shadow: 1px 1px 1px darkred;
}

.myPosts .button:after {
    content: "";
    background-image: linear-gradient(to right bottom, #904246, #6b3239, #47242a, #26161a, #000000);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 2s
}

.myPosts .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.myPosts textarea {
    resize: none;
    width: 99%;
    height: 75px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-image: linear-gradient(to right bottom, #3c3c3d, #424045, #4b444b, #56474f, #614a51, #644c51, #674f51, #6a5151, #665252, #625353, #5d5454, #595555);
    color: #fff;
    padding: 5px;
    outline: none;
    float: left;
    margin-bottom: 10px;
}

.myPosts textarea:focus {
    box-shadow: 0 2px 10px 5px #97B1BF;
    transition: all 0.8s
}


