.post {
    background-image: linear-gradient(to right bottom, #3c3c3d, #424045, #4b444b, #56474f, #614a51, #644c51, #674f51, #6a5151, #665252, #625353, #5d5454, #595555);
    padding: 10px;
    margin-top: 10px;
    border: 1px dotted #737373;
    border-radius: 5px;
    cursor: default;
}

.post .ava {
    width: 120px;
    border-radius: 5px;
    margin-right: 20px;
    float: left;
}

.post p {
    margin: 10px;
    text-align: justify;
    min-height: 120px;
}

.post .like img{
    width: 20px;
    margin-left: 20px;
}

.post hr.line {
    border: .5px dotted #fff;

}


